body {
    text-align: center;
    background: blue; 
    color: white;
}

h1 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Laila', serif;
}

li {
    font-family: 'Noto Serif', serif;
}

ul { 
    display: table; 
    margin: 0 auto;
    text-align: left;
}

input {
    margin: 20px;
}

.woah {
    padding: 20px;
}